*
{
margin:0px ;
padding:0px;
}
.menu li
{
float:left;
list-style: none;
margin:10px 25px ;
}
.blok-menu
{
overflow: hidden;
background: #4B0082;
box-shadow: 30px 20px 60px -5px #6A5ACD;
}
.menu
{
margin:0 auto;
display:table;
}
.menu li a
{
font: 18px Verdana, Arial, Helvetica, sans-serif;
color:#FA8072;
text-decoration: none;
}
.menu li a:hover
{
font: 18px Verdana, Arial, Helvetica, sans-serif;
color:#FA8072;
border-bottom:1px dotted #011774;
}
.logo
{
	margin: 0 auto;
	width: 450px;
	margin-top: 30px;
	margin-botoom: 30px;

}
logo.img 
{
	-moz-border-radius: 450px; /* Firefox */
    -webkit-border-radius: 450px; /* Safari, Google Chrome */
    -o-border-radius: 450px; /* Opera */
    -ms-border-radius: 450px; /* IE8 */
 
}
.content
{
	width: 800px;
	margin: 5 auto;
	padding: 20px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3), -23px 0 20px -23px rgba(0, 0, 0, .8), 23px 0 20px -23px rgba(0, 0, 0, .8), 0 0 40px rgba(0, 0, 0, .1) inset;
}

.content h2
{
font: 30px Verdana, Arial, Helvetica, sans-serif;
color:#0CA690;
text-align:center;
}
.content p
{
	font: 18px  Verdana, Helvetica, Arial, sans-serif;
	color: #0CA690;
	text-indent: 20px;
}